*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: 0 auto;
    
}
/* -------------HEADER------------------ */
.container_header{
    width: 100%;
    height: 9vh;
}

.div_header{
    display: flex;
    background-color: #FF4242;
    align-items: center;
    justify-content: space-evenly;
}
.bloco_logo{
    display: flex;
    align-items: center;
    margin-right: 55vw;
}
.bloco_links{
    display: flex;
    align-items: center;
}

/* --------------FOOTER------------------- */

.container_footer{
    width: 100%;
    height: 12vh;
}

.div_footer{
    display: flex;
    background-color: #AA2020;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    margin-top: 55px;
}

.footer_text{
    color: white;
}

/* --------------LOGIN------------------- */

.ContainerMain{
    display: flex;
    align-items: center;
    justify-content: center;

}

.form-login{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 515px;
    width: 397px;
    background-color: #ffffff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25); 
box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);   

}

.input-login{
    color: black;
    background-color: #EEEEEE;
    /* border: none; */
    border-style: none;
    border: 1px solid #C4C4C4;
    width: 312px;
    height: 34px;
    margin-bottom: 20px;
    padding: 10px;
    transition: scale 0.2s ease-in-out;
}

.botao-login{
    width: 312px;
    height: 50px;
    background-color: #FF4242;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.Titulo-login{
    color: #949494;
    font-size: 24px;
    font-weight: bold;
}

.btn-login{
    border: none;
    background-color: #FF4242;
    color: #ffffff;
    padding: 5px 10px;
    /* border: none; */
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.botaoCadastro-login {
    width: 312px;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px #FF4242;
    border-radius: 5px;
}

.btnCadastrar-login{
    text-decoration: none;
    color: #FF4242;
    font-size: 16px;
    
}
/* --------------CADASTRAR PRODUTOS------------------- */

.btn-CadatrarProd{
    border: none;
    width: 312px;
    height: 50px;
    background-color: #FF4242;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #c4c4c4 ;
  }

  .select-items {

    position: absolute;
    background-color: #EEEEEE;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }

  .select-items div,.select-selected {
    color: #919191;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }

  .label-cadastroProd{
    
    z-index: 0;
    position: absolute; 
    bottom: 175px;
    width: 312px;
    
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    background-color: #EEEEEE;
    padding: 10px ;
    font-size:12px;
  }

  .inputImage-cadastroProd{
    
   
    z-index: 1;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
  